.clock {
    background: #b5d0e2;
    border: 2px solid #366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    width: 14rem;
    height: 14rem;
    justify-content: center;
    margin: 4rem auto;
}

.clock-text {
    color: #fff;
    font-size: 2.25rem;
}

.countdown-form {
    width: 200px;
    margin: 0 auto;
}

.timer .clock {
    background: #f9dc8e;
}

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}